In [77]:
from tableau.convert.tdsx import Tdsx
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [78]:
df=Tdsx.to_dataframe(r"./Base Propensão Antecipação.tdsx")
df=df[0]
df.head(5)

,ultima antecipação,[60] média DATA,[30] média DATA,[7] média DATA,DATA,CNPJ,ANTECIPA,PRI ANTECIPAÇÃO,UF,CIDADE,...,[30] média SALDO UNICA,[30] média TPV_CRED,[60] média SALDO UNICA,[60] média TPV_CRED,POTENCIAL,PRIMEIRO TPV UNICA,DIAS_DESDE_ULT_ANTECIPAÇÃO,DIAS_DESDE_PRIMEIRO_TPV,COD_MCC,QTD_TRN UNICA
0,2025-10-15,43,23.0,6.0,12.0,4521258002480,False,None,AC,CRUZEIRO DO SUL,...,0.000000,NaN,0.000000,NaN,317.643333,2021-04-29,-1,1629.0,5912.0,NaN
1,2025-10-15,2,2.0,2.0,2.0,50130562000128,False,None,SP,LIMEIRA,...,28.610000,29.000000,28.610000,29.000000,121.730000,2025-10-13,-1,1.0,5411.0,1.0
2,2025-10-15,43,23.0,6.0,12.0,33368397000128,True,2025-01-27,BA,GUARATINGA,...,0.000000,NaN,0.000000,NaN,11127.216667,2023-09-06,-1,769.0,5411.0,NaN
3,2025-10-15,31,19.0,6.0,11.0,8734842000189,False,None,MG,JOAO PINHEIRO,...,0.000000,NaN,0.000000,NaN,NaN,None,-1,NaN,5411.0,NaN
4,2025-10-15,61,31.0,8.0,16.0,19111911000386,False,None,PB,NATUBA,...,27771.457826,1104.322333,27196.796744,1007.379167,57894.580000,2023-09-14,-1,761.0,5541.0,216.0

In [79]:
df["[7] frequencia antecipações"] = df["[7] média DATA"]
df["[15] frequencia antecipações"] = df["DATA"]
df["[30] frequencia antecipações"] = df["[30] média DATA"]
df["[60] frequencia antecipações"] = df["[60] média DATA"]

In [80]:
df = df.drop([
  '[7] média DATA', 
  'DATA', 
  '[30] média DATA', 
  '[60] média DATA',
  'PRI ANTECIPAÇÃO',
  'ultima antecipação',
  'PRIMEIRO TPV UNICA'
], axis=1)

In [81]:
df["UF"] = pd.factorize(df["UF"])[0]
df["CIDADE"] = pd.factorize(df["CIDADE"])[0]
df["GERENTE"] = pd.factorize(df["GERENTE"])[0]
df["Região"] = pd.factorize(df["Região"])[0]
df["ANTECIPA"] = df['ANTECIPA'].astype(int)

In [86]:
df = df.dropna(subset=['POTENCIAL', '[7] média TPV_CRED', '[7] média SALDO UNICA'])
df = df[(df['[7] média TPV_CRED'] != 0) & (df['[7] média SALDO UNICA'] != 0)]
df = df.fillna(0).replace('', 0)

In [87]:
df.to_csv("data_normalized.csv", index=False)